{%extends "layouts/default.html"%}

{% block content %}
<!-- 
{{ form }} -->

<h1>新增文章</h1>
<form action="{% url 'articles:index' %}" method="post" class="flex flex-col gap-4">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-col">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <!-- <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">標題</label>
        <input type="text" name="title" class="text">
    </div>
    <div class="flex flex-col">
        <label class="label">內文</label>
        <textarea type="textarea" name="content" class="textarea"></textarea>
    </div> -->
    <div class="text-2xl">
        <button class="btn btn-success">新增文章</button>
    </div>
</form>


{% endblock %}